{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Personal Tutor App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
        "soft-pink": "#F5D0FE",
        "dark-pink": "#A21CAF",
        "soft-purple": "#E3B8E8"
      },
        }
      }
    }
  </script>
  </head>
  <body>

    <div class="flex flex-col h-screen">
      <!-- Header -->
      <div class="flex flex-col w-full justify-center items-center bg-soft-pink p-2 gap-3 rounded-b-3xl h-1/4">
        <h2 class="text-xl font-bold">Profile</h2>
        <img src="{% static 'main/img/default_profile_pic.jpg' %}" class="w-20 rounded-3xl" />
        <h3 class="text-lg font-semibold">{{ user.username }}</h3>
        <form class="bg-dark-pink p-2 text-slate-50 rounded-lg" id="logout-form" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-link">Logout</button>
        </form>
      </div>

      <!-- Content -->
      <div class="h-full w-screen p-4 flex flex-col items-center gap-5">
        {% block content%} {% endblock %}
      </div>

    </div>

  </body>
</html>
