{% extends 'main/main.html' %} {% block content %}

<h1>Students Homepage</h1>

<form class="d-flex" role="search" method="POST" action="{% url 'students' %}">
  {%csrf_token%}
  <input
    class="form-control me-2"
    type="query"
    id="query"
    name="query"
    placeholder="Search by name or ID"
    aria-label="Search through site content"
  />
  <button class = "btn btn-outline-success" type="submit" >Search</button>
</form>

{% for student in students %}
  <div class="card" style="width: 18rem;">
    <img src="{{ student.profile_pic_url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-title lead">{{ student.name }}</p>
      <p class="card-subtitle text-body-secondary">{{ student.email }}</p>
    </div>
  </div>
{% endfor %}

{% endblock %}
