{% extends 'main/main.html' %}
{% load static %}

{% block content %}

<h1>Students</h1>

<form class="d-flex" role="search" method="POST" action="{% url 'students' %}">
  {%csrf_token%}
  <input
    class=""
    type="query"
    id="query"
    name="query"
    placeholder="Search by name, email, or ID"
  />
  <button class = "" type="submit" >Search</button>
</form>

{% for student in students %}
  <div class="">
    <img src="{% static student.profile_pic_url %}" class="w-10" alt="Profile picture">
    <div class="">
      <p class="">{{ student.name }}</p>
      <p class="">{{ student.email }}</p>
    </div>
  </div>
{% endfor %}

{% endblock %}
